/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./about.css');
@import url('./catalog');
@import url('./new-watches');
@import url('./sale');
@import url('./footer');

:root {
  --main-family: 'Roboto', sans-serif;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --main-background-color: #ffffff;
  --logo-color: #4d5ae5;
}
