/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./about.css');
@import url('./catalog');
@import url('./new-watches');
@import url('./sale');
@import url('./footer');

:root {
  --main-family: 'Epilogue', sans-serif;
  --main-background-black-color: #141414;
  --main-background-white-color: #efefef;
  --main-light-color: #ffffff;
  --main-dark-color: #141414;
}
